<main class="h-screen bg-c-body-radial flex flex-col">
  <section
    class="flex justify-between items-center p-3 m-[8%] border-4 border-c-header-outline rounded-lg"
  >
    <img
      class="w-24 h-16 p-1"
      src="assets/images/logo.svg"
      alt="Rock paper scissors"
    />
    <div class="bg-white rounded-md px-5 py-1 text-center">
      <h4 class="text-c-score-text font-medium">score</h4>
      <h2 class="text-c-dark-text leading-7 font-bold text-4xl mb-3">12</h2>
    </div>
  </section>
</main>
