<div class="relative">
  <div class="h-screen bg-c-body-radial flex flex-col">
    <section
      class="flex justify-between p-3 m-[8%] border-4 border-c-header-outline rounded-lg"
    >
      <img
        class="w-24 h-16 p-2"
        src="assets/images/logo.svg"
        alt="Rock paper scissors"
      />
      <div class="bg-white rounded-md px-5 py-1 text-center">
        <h4 class="text-c-score-text font-medium">score</h4>
        <h2 class="text-c-dark-text leading-7 font-bold text-4xl mb-2">
          {{ score }}
        </h2>
      </div>
    </section>
    <main class="m-[5%] h-3/6 flex justify-center items-center">
      <div
        *ngIf="!userChoice"
        class="bg-c-triangle bg-contain bg-no-repeat h-48 w-56 relative"
      >
        <app-choice
          [name]="'paper'"
          (userChoice)="setUserChoice('paper')"
          [stylesFrom]="'absolute -top-8 -left-8 bg-c-from-paper-gradient/50'"
          [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-paper-gradient/90'"
          ><img src="assets/images/icon-paper.svg" alt="paper"
        /></app-choice>
        <app-choice
          [name]="'scissors'"
          (userChoice)="setUserChoice('scissors')"
          [stylesFrom]="
            'absolute -top-8 -right-8 bg-c-from-scissors-gradient/50'
          "
          [stylesTo]="
            'absolute -top-[5px] -left-0 bg-c-to-scissors-gradient/90'
          "
          ><img src="assets/images/icon-scissors.svg" alt="scissors"
        /></app-choice>
        <app-choice
          [name]="'rock'"
          (userChoice)="setUserChoice('rock')"
          [stylesFrom]="
            'absolute left-[20%] top-[65%] bg-c-from-rock-gradient/50'
          "
          [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-rock-gradient/90'"
          ><img src="assets/images/icon-rock.svg" alt="rock"
        /></app-choice>
      </div>
      <div
        *ngIf="userChoice"
        class="flex justify-between w-full h-full items-center"
      >
        <div class="flex flex-col gap-4 items-center">
          <app-choice
            *ngIf="userChoice === 'paper'"
            [name]="'paper'"
            [stylesFrom]="'relative bg-c-from-paper-gradient/50'"
            [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-paper-gradient/90'"
            ><img src="assets/images/icon-paper.svg" alt="paper"
          /></app-choice>
          <app-choice
            *ngIf="userChoice === 'scissors'"
            [name]="'scissors'"
            [stylesFrom]="'relative bg-c-from-scissors-gradient/50'"
            [stylesTo]="
              'absolute -top-[5px] -left-0 bg-c-to-scissors-gradient/90'
            "
            ><img src="assets/images/icon-scissors.svg" alt="scissors"
          /></app-choice>
          <app-choice
            *ngIf="userChoice === 'rock'"
            [name]="'rock'"
            [stylesFrom]="'relative bg-c-from-rock-gradient/50'"
            [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-rock-gradient/90'"
            ><img src="assets/images/icon-rock.svg" alt="rock"
          /></app-choice>
          <h2 class="text-white font-semibold">YOU PICKED</h2>
        </div>
        <div class="flex flex-col gap-4 items-center justify-between">
          <div *ngIf="houseChoice">
            <app-choice
              *ngIf="userChoice === 'paper'"
              [name]="'paper'"
              [stylesFrom]="'relative bg-c-from-paper-gradient/50'"
              [stylesTo]="
                'absolute -top-[5px] -left-0 bg-c-to-paper-gradient/90'
              "
              ><img src="assets/images/icon-paper.svg" alt="paper"
            /></app-choice>
            <app-choice
              *ngIf="userChoice === 'scissors'"
              [name]="'scissors'"
              [stylesFrom]="'relative bg-c-from-scissors-gradient/50'"
              [stylesTo]="
                'absolute -top-[5px] -left-0 bg-c-to-scissors-gradient/90'
              "
              ><img src="assets/images/icon-scissors.svg" alt="scissors"
            /></app-choice>
            <app-choice
              *ngIf="userChoice === 'rock'"
              [name]="'rock'"
              [stylesFrom]="'relative bg-c-from-rock-gradient/50'"
              [stylesTo]="
                'absolute -top-[5px] -left-0 bg-c-to-rock-gradient/90'
              "
              ><img src="assets/images/icon-rock.svg" alt="rock"
            /></app-choice>
          </div>
          <div
            *ngIf="!houseChoice"
            class="mb-3 bg-c-to-radial-gradient/50 h-28 w-28 rounded-full"
          ></div>
          <h2 class="text-white font-semibold">THE HOUSE PICKED</h2>
        </div>
      </div>
    </main>
    <div class="flex justify-center mt-6">
      <button
        (click)="toggleRulesModal()"
        class="hover:scale-110 transition border-2 rounded-lg border-white/60 py-1 px-8 text-white font-semibold tracking-widest"
      >
        RULES
      </button>
    </div>
  </div>
  <div
    *ngIf="showRules"
    class="h-screen transition-all bg-white absolute inset-0 z-10 flex flex-col justify-around items-center"
  >
    <h3 class="uppercase text-3xl font-bold text-c-dark-text">rules</h3>
    <img
      src="assets/images/image-rules.svg"
      alt="Rules - paper beats rock, rock beats scissors, scissors beat paper"
    />
    <img
      (click)="toggleRulesModal()"
      src="assets/images/icon-close.svg"
      alt="close modal"
    />
  </div>
</div>
