<div class="flex flex-col justify-between h-screen bg-c-body-radial">
  <section
    class="flex justify-between items-center p-3 m-7 border-4 border-c-header-outline rounded-md"
  >
    <img
      class="w-24 h-16 p-2"
      src="assets/images/logo.svg"
      alt="Rock paper scissors"
    />
    <div class="bg-white rounded-md px-5 py-1 text-center">
      <h4 class="text-c-score-text font-medium">score</h4>
      <h2 class="text-c-dark-text leading-7 font-bold text-4xl mb-2">
        {{ score }}
      </h2>
    </div>
  </section>
  <main class="">
    <div *ngIf="!userChoice" class="flex justify-center py-[10%]">
      <div
        class="bg-c-triangle relative bg-contain bg-no-repeat my-[10%] h-44 w-48"
      >
        <app-choice
          [name]="'paper'"
          (userChoice)="setUserChoice('paper')"
          [stylesFrom]="'absolute -top-14 -left-12 bg-c-from-paper-gradient/50'"
          [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-paper-gradient/90'"
          ><img src="assets/images/icon-paper.svg" alt="paper"
        /></app-choice>
        <app-choice
          [name]="'scissors'"
          (userChoice)="setUserChoice('scissors')"
          [stylesFrom]="
            'absolute -top-14 -right-12 bg-c-from-scissors-gradient/50'
          "
          [stylesTo]="
            'absolute -top-[5px] -left-0 bg-c-to-scissors-gradient/90'
          "
          ><img src="assets/images/icon-scissors.svg" alt="scissors"
        /></app-choice>
        <app-choice
          [name]="'rock'"
          (userChoice)="setUserChoice('rock')"
          [stylesFrom]="
            'absolute left-[20%] top-[50%] bg-c-from-rock-gradient/50'
          "
          [stylesTo]="'absolute -top-[5px] -left-0 bg-c-to-rock-gradient/90'"
          ><img src="assets/images/icon-rock.svg" alt="rock"
        /></app-choice>
      </div>
    </div>
  </main>
  <div class="flex my-[12%] justify-center">
    <button
      (click)="toggleRulesModal()"
      class="text-lg px-8 py-1 border-c-header-outline tracking-wider text-slate-200 font-medium rounded-lg border-2"
    >
      RULES
    </button>
  </div>
</div>
<div
  *ngIf="showRules"
  class="h-screen transition-all bg-white absolute inset-0 z-10 flex flex-col justify-around items-center"
>
  <h3 class="uppercase text-3xl font-bold text-c-dark-text">rules</h3>
  <img
    src="assets/images/image-rules.svg"
    alt="Rules - paper beats rock, rock beats scissors, scissors beat paper"
  />
  <img
    (click)="toggleRulesModal()"
    src="assets/images/icon-close.svg"
    alt="close modal"
  />
</div>
